@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 30px;
  color: #5A5A5A
}

header {
  display: flex;
  height: 95vh;
  background-image: linear-gradient(
    to right bottom,
    #b20ecf46,
    #ca5ad72f
  ), url('./assets/spacex.jpg');
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 79%, 0% 100%);
  color: white;
  text-transform: uppercase;
  flex-direction: column;
}

.HeaderRocket {
  position: absolute;
  top: 55px;
  left: 55px;
  width: 60px;
  height: 70px;
}

.boxTitles {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 50%;
  text-align: center;
}

.mainTitle {
  position: relative;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
  margin-left: 35px;
  animation: mainTitle 3s;
}

@keyframes mainTitle {
  0% {transform: translateX(-110px); opacity: 0.1;}
  80% {transform: translateX(15px); opacity: 1;}
  100% {transform: translateX(0);}
}

.subtitle {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 10px;
  margin-top: 30px;
  animation: subtitle 3s;
}

@keyframes subtitle {
  0% {transform: translateX(110px); opacity: 0.1;}
  80% {transform: translateX(-15px); opacity: 1;}
  100% {transform: translateX(0);}
}


.btnStart {
  position: relative;
  height: 58px;
  width: 126px;
  margin: 0 35%;
  margin-top: 55px;
  padding: 18px 38px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: white;
  color: #777;
  border-radius: 50px;
  transition: 0.2s;
  animation: buttonStart 2s;
}

.btnStart:hover {
  transform: translateY(-3px);
}

@keyframes buttonStart {
  0% {transform: translateY(100px); opacity: 0;}
  100% {transform: translate(0); opacity: 1;}
}

h2 {
  margin-top: 17px;
}

.rocketStatus {
  display: flex;
  height: 20vh;
  margin-top: 10px;
  justify-content: space-around;
}

.rocketStatus div {
  width: 30%;
  height: 77%;
  margin: auto;
  color: white;
  border-radius: 8px;
  box-shadow: 0px 2px 5px #03061a26;
}

.rocketStatus span {
  display: flex;
  margin: 30px;
}

.rocketStatus img {
  position: relative;
  width: 47px;
  left: 45%;
  bottom: 15%;
}

.activeRockets {
  background: linear-gradient(#CE9FFC, #7367F0);
}

.destroyedRockets {
  background: linear-gradient(#65799b, #5e2563);
}

.unknownRockets {
  background: linear-gradient(#7117ea, #ea6060);
}

.footer {
  display: flex;
  width: 100%;
  height: 100px;
  background: #36073f;
  color: white;
  justify-content: center;
  align-items: center;
}