@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 30px;
  color: #5A5A5A
}

header {
  display: flex;
  height: 95vh;
  background-image: linear-gradient(
    to right bottom,
    #b20ecf46,
    #ca5ad72f
  ), url('./assets/spacex.jpg');
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 79%, 0% 100%);
  color: white;
  text-transform: uppercase;
  flex-direction: column;
}

.HeaderRocket {
  position: absolute;
  top: 55px;
  left: 55px;
  width: 60px;
  height: 70px;
}

.boxTitles {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 50%;
  text-align: center;
}

.mainTitle {
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
  margin-left: 30px;
}

.subtitle{
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 10px;
  margin-top: 30px;
}

.btnStart {
  display: in-block;
  height: 58px;
  width: 126px;
  margin: 0 35%;
  margin-top: 55px;
  padding: 18px 38px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: white;
  color: #777;
  border-radius: 50px;
}

h2 {
  margin-top: 17px;
}

.rocketStatus {
  display: flex;
  height: 20vh;
  margin-top: 10px;
  justify-content: space-around;
  /* border: solid 1px red; */
}

.rocketStatus div {
  width: 30%;
  height: 78%;
  margin: auto;
  color: white;
  border-radius: 8px;
}

.rocketStatus img {
  width: 35px;
}

.activeRockets {
  background: linear-gradient(#CE9FFC, #7367F0);
}

.destroyedRockets {
  background: linear-gradient(#65799b, #5e2563);
}

.unknownRockets {
  background: linear-gradient(#7117ea, #ea6060);
}