@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 30px;
}

header {
  height: 95vh;
  background-image: linear-gradient(
    to right bottom,
    #b20ecf46,
    #ca5ad72f
  ), url('./assets/spacex.jpg');
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 79%, 0% 100%);
  color: white;
  text-transform: uppercase;
}

.mainLine {
  font-size: 60px;
  letter-spacing: 20px;
}

header a {
text-decoration: none;
background-color: white;
color: #777;
border-radius: 50px;
}